@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

body {
  padding: 20px;
  font-family: "Sansita Swashed", system-ui;
  padding-left: 20px;
  background-color: #FFFFFF;
}
#contx{
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100vw;
}

#page2 {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 128px;
  margin: 10px;
}

.mcont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #FFFFFF;
  border-bottom: 8px solid #FEC7C7;
  width: 150px;
  height: 150px;
}

input {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #FFFFFF;
  border-radius: 15px;
  font-size: 50px;
  color: #5c5656;
}

input:focus{
  outline: none;
  background-color: #fff7f7;

}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

::placeholder {
  font-size: 40px;
  color: #767676;
}

.button {
  /* position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%); */
  height: 100px;
  width: 400px;
  font-size: 50px;
  background-color: #faefef;
  border-radius: 15px;
  border: none;
  border-bottom: 8px solid #ffbaba;
}

.circle {
  position: fixed;
  width: 1321px;
  height: 1321px;
  left: 594px;
  top: -553px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #FFBABA 0%, #FFFFFF 100%);
}